<h1> Payment Calculation </h1>

<form action="/payment/results">
  <div>
    <label>    APR    </label>
    <input type="text" name="r" id="apr_input">
  </div>

  <div>
    <label>    Number of years    </label>
    <input type="text" name="n" id="years_input">
  </div>

  <div>
    <label>    Principal    </label>
    <input type="text" name="p" id="principal_input">
  </div>


  <div>
    <button> Calculate monthly payment </button>
  </div>
</form>
