<h1> Random results </h1>
<h4> Minimum </h4>
<h4> <%= @lower %> </h4>
<h4> Maximum </h4>
<h4> <%= @higher %> </h4>

<h4> Random Number</h4>
<%=  @result %> </h1>
<h4>
  <a href="/random/new"> Pick another random number</a>
</h4>
