<h1> Square Root Calculation </h1>

<form action="/square_root/results">
  <div>
    <label>
      Enter a number
    </label>
    <input type="text" name="user_num" id="Enter a number">

  </div>
  <div>
    <button> Calculate square root </button>
  </div>
</form>
